.container-inline label {
  display: inline;
}

.sifr-font {
  font-size: 2em;
  vertical-align: middle;
}

.sifr-font-color {
  float: left;
  width: 14px;
  height: 14px;
  margin: 0 3px 0 0;
  border: 1px solid black;
}

.sifr-rule-op img {
  margin: 0 6px 0 0;
}

